.edit_home_card1_main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 20px;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  /* z-index: 3; */
}

.edit_home_first_main {
  width: 100%;
  height: 50%;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
  position: relative;
}

.profile_main_div {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  /* border: 2px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.uplaoded_image_css {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.plus_icon_add_div {
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 4.5rem;
  margin-bottom: 20px;
}

.add_icon_csss {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.input_file_button_css {
  display: none;
}

.input_file_button_css::-webkit-file-upload-button {
  display: none;
}

.edit_home_second_main {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.edit_bio_details_main {
  display: flex;
  flex-direction: column;
  /* background-color: chocolate; */
  width: 70%;
  padding-left: 10px;
}

.edit_name_with_icon_main {
  display: flex;
  flex-direction: row;
  /* background-color: cadetblue; */
  justify-content: center;
  align-items: center;
}

.input_fields_csss {
  height: 100%;
  width: 100%;
  padding-left: 5px;
  outline: none;
  /* background-color: aqua; */
  color: #07074E;
  font-family: 'MadeOuterSansLight', sans-serif;
  font-size: 13px;
  border: none;
}

.input_fields_csss::placeholder {
  color: lightgray;
}

.edit_name_with_icon_main_for_bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* background-color: cadetblue; */
}

.bio_name_css_for_bio {
  padding-left: 5px;
  font-size: 14px;
  box-sizing: content-box;
  width: 300px;
  line-height: 20px;
  overflow: hidden;
  /* color: lightgray; */
  color: #07074E;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.bio_name_css {
  padding-left: 5px;
  overflow: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #07074E;
}

.edit_main_logo {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  position: relative;
  background-color: cadetblue;
}

.edit_logo_di2v {
  padding-right: 10px;
  /* background-color: coral; */
  position: relative;
  display: flex;
  /* justify-content: flex-end; */
  /* position: relative; */
}

.edit_logo_sub_main_div {
  height: 4rem;
  width: 4rem;
  /* border: 2px solid lightgrey; */
  border-radius: 50%;
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
}

.logo_img_css {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.plus_add_icon_div {
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  bottom: 20;
  margin-top: 2.8rem;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}

.add_icon_cssss {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.dateofbirth_main_div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}

.dateofbirth_main_css {
  width: 8rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* background-color: cadetblue; */
  z-index: 2 !important;
  /* border: 1px solid lightgrey; */
  cursor: pointer;
}

.two_buttons_main_dOB_gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-end;
  width: 100%;
  height: 100%;
}

.edit_bio_and_logoo_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.mobile_date_picker_classname {
  font-family: 'MadeOuterSansLight', sans-serif;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  /* align-items: center; */
}