.home_main_div {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.home_sub_main_div {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f8f7fc;
}

.home_profile_card {
    position: relative;
    width: 95%;
    background-color: #07074D;
    height: 40%;
    margin-top: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profile_pc_main {
    margin-top: 4rem;
    height: 34%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_picture_div {
    /* height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    border: 5px solid white; */
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    /* border: 2px solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.a3_title_div {
    display: flex;
    margin-top: 1rem;
    align-items: flex-end;
    font-size: large;
    color: white;
    font-family: 'MadeOuterSansLight', sans-serif;
}

.a3_sub_title_div {
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    font-family: 'MadeOuterSansLight', sans-serif;

}

.email_main_div {
    color: white;
    font-size: 1rem;
    /* margin-top: 2px; */
    margin-bottom: 5px;
    margin-bottom: 10px;
    font-family: 'MadeOuterSansLight', sans-serif;
}

.info_direct_share_toggle_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin-top: 5px;
    /* background-color: coral; */
}

.direct_share_div {
    padding-left: 10px;
    color: #07074E;
    font-family: 'MadeOuterSansLight', sans-serif;
    padding-right: 5px;
    font-size: large;
    font-weight: 500;
}

.direct_share_msg {
    color: #07074E;
    font-family: 'MadeOuterSansLight', sans-serif;
    font-size: 15px;
    width: 90%;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.toggle_switch_div {
    display: subgrid;
}

.socialIcons_home_main {
    /* background-color: cadetblue; */
    height: 100%;
    overflow: scroll;
    width: 90%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    flex-direction: row;

}

.socialIcons_home_main::-webkit-scrollbar {
    display: none;
}

.social_icons_main_div {
    /* margin-top: 1rem; */
    /* width: 100%; */
    flex-wrap: wrap;


    /* height: 50%; */
    /* max-height: 50%; */
    /* flex-wrap: wrap; */
    display: flex;
    /* justify-content: flex-start; */
    height: fit-content;
    /* justify-content: space-evenly; */
    /* flex-direction: row; */
    /* background-color: coral; */
}

.home_screen_social_sites_main {
    display: flex;
    /* margin-top: 1rem; */
    /* border: 1px solid black; */
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
    height: fit-content;
    /* background-color: chartreuse; */
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.home_screen_social_sites_main:active {
    /* filter: opacity(50%); */
    /* opacity: 50%;     */
}

.sideDrawer_main_div {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
}

.firebase_photo_url_css {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.Hhome_social_sites_main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: max-content;
    position: relative;
}

@media only screen and (max-width: 372px) {
    .socialIcons_home_main {
        width: 95%;
    }
}

@media only screen and (max-width: 352px) {
    .socialIcons_home_main {
        width: 100%;
    }
}